<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="AnimaScion.AnimaScion" android:installLocation="internalOnly">
	<uses-sdk android:minSdkVersion="19" android:targetSdkVersion="19" />
	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<application android:launchMode="singleTop" android:splitMotionEvents="false" android:windowEnableSplitTouch="false" android:allowBackup="true" android:label="AnimaScion" android:theme="@android:style/Theme.Holo"></application>
</manifest>